@font-face {
  font-family: Antenna;
  src: url(fonts/Antenna-400-Regular.eot);
  src: url(fonts/Antenna-400-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/Antenna-400-Regular.ttf) format("truetype"), url(fonts/Antenna-400-Regular.svg#Antenna) format("svg");
  font-weight: 400;
  font-style: regular; }
@font-face {
  font-family: Antenna;
  src: url(fonts/Antenna-700-Regular.eot);
  src: url(fonts/Antenna-700-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/Antenna-700-Regular.ttf) format("truetype"), url(fonts/Antenna-700-Regular.svg#Antenna) format("svg");
  font-weight: 700;
  font-style: regular; }
@font-face {
  font-family: Antenna;
  src: url(fonts/Antenna-400-Italic.eot);
  src: url(fonts/Antenna-400-Italic.eot?#iefix) format("embedded-opentype"), url(fonts/Antenna-400-Italic.ttf) format("truetype"), url(fonts/Antenna-400-Italic.svg#Antenna) format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Antenna;
  src: url(fonts/Antenna-700-Italic.eot);
  src: url(fonts/Antenna-700-Italic.eot?#iefix) format("embedded-opentype"), url(fonts/Antenna-700-Italic.ttf) format("truetype"), url(fonts/Antenna-700-Italic.svg#Antenna) format("svg");
  font-weight: 700;
  font-style: italic; }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: subpixel-antialiased; }
